body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --line-height: 1.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyFontFuncity';
  src: url('../fonts/FunCityLevel2Stencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontRancho';
  src: url('../fonts/Rancho-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyFontMinion';
  src: url('../fonts/MinionPro-MediumIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontMinionReg';
  src: url('../fonts/MinionPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}