@font-face {
    font-family: 'MyFont';
    src: url('../../fonts/FunCityLevel2Stencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background: rgb(8, 28, 34);
    margin: 0;
    padding: 0;
    justify-content: center;
}

.img-error {
    width: 50%;
}

.container-error>h1 {
    width: 80%;
    text-align: center;
    color: rgb(233, 238, 245);
    font-size: 20px;
    padding: 20px;
}

.container-error>.boton {
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(5, 129, 245);

}

.boton .back-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    font-family: 'MyFont', sans-serif;
}

@media screen and (max-width:700px) {
    .boton .back-btn {
        font-size: 1rem;
    }
}